.sconsign.dblite
apio.ini
*.vcd
*.asc
*.bin
*.json
*.out
*.history
*.settings
Debug
Drivers
.cproject
.mxproject
.project
*.ld
*.launch
Startup
stm32f4xx_hal_msp.c
stm32f4xx_it.c 
syscalls.c 
sysmem.c 
system_stm32f4xx.c 
stm32f4xx_hal_conf.h 
stm32f4xx_it.h